<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser API</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <h1>Request Header Parser API</h1>
      <div class="container">
        <h2>How to use:</h2>
        <p>Clone the following github repository: <a href="https://github.com/akcm25/fcc-api-2">https://github.com/akcm25/fcc-api-2</a></p>
        <p>Run <strong>npm start</strong> on terminal.</p>
        <p>Go to <a href="localhost:3000">localhost:3000</a></p>
        <br />

        <h2>Example:</h2>
        <p>
          <a href="api/whoami">localhost:3000/api/whoami</a>
        </p>

        <h2>Output:</h2>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          <strong>By Amine Kacimi.</strong>
        </p>
        <p>Thanks to <a href="https://freecodecamp.org"><strong>freeCodeCamp</strong></a></p>
      </div>
   </body>


</html>
